{
    "IsEncrypted": false,
    "Values": {
      "FUNCTIONS_WORKER_RUNTIME": "node",
      "AzureWebJobsStorage": "{AzureWebJobsStorage}",
      "APP_365_API": "{365 proxy bearer token}",
      "APP_SENDGRID_API": "{sendgrid proxy bearer token}",
      "CANCEL_URL": "{endpoint for cancellation}"
    }
  }